-
  var metadata = {
    viewport: "width=device-width, initial-scale=1.0",
    description: "description",
    keywords: "keywords",
    author: "@zorphdark"
  }

meta(charset='UTF-8')
title Site name

for content, name in metadata
  meta(name=name, content=content)
