include ../setup/path

-
  var styles = [
    '//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700',
    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
    '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css',
    '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css',
    path.css + "styles.min.css"
  ]

block styles
  for href in styles
    link(rel='stylesheet', href=href)
